client
dev tun
proto tcp
remote ovpn.io 443
ca ca.crt
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
auth SHA512
cipher AES-256-CBC
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384
tls-version-min 1.2
tls-auth ta.key 1
comp-lzo yes
verb 4
