/* Padding needed on smaller devices
as the logo was obstructed*/
@media (max-width: 980px) {
    body {
        padding-top: 70px;
    }
}

@font-face {
    font-family: 'ostrich-black';
    font-weight: bold;
    src: url(../fonts/ostrich-black.ttf);
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(../fonts/oxygen-regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body {
    font-family: ostrich-black;
    font-size: 20px;
}

.panel-info {
    border-color: #424040;
    .panel-heading {
        background-color: #424040;
        color: #b84040;
    }
}

.navbar-default {
    background-color: #b81f1f;
    border-color: #b81f1f;

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:hover,
    .navbar-text {
        color: #000000;
    }

    .navbar-nav > li > a {
        color: #000000;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: #000000;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #000000;
        background-color: #b81f1f;
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        color: #000000;
        background-color: #b81f1f;
    }

    .navbar-toggle {
        border-color: #b81f1f;
    }

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #b81f1f;
    }

    .navbar-toggle .icon-bar {
        background-color: #000000;
    }

    .navbar-collapse,
    .navbar-form {
        border-color: #000000;
    }

    .navbar-link,
    .navbar-link:hover {
        color: #000000;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #b81f1f;
    }
}

.navbar {
    background-color:#b81f1f;
    color:#000000 !important;
    border-bottom: 0;
    margin-bottom: 0;
}

.navbar-brand,
.navbar-nav li a,
.navbar-left li a,
.navbar-right li a {
    color: #000000;
    line-height: 70px;
    height: 70px;
    font-size: 30px;
    padding-top: 0;
}

.navbar .nav .navbar-header .navbar-brand .navbar-right .navbar-left > li > a {
    color: #000000;
    margin-bottom: 0;
}

.navbar .navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

h1 {
    font-size:80px;
    color: #000000;
}

.lead {
    color: #000000;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height:50%;
    background-color:#b81f1f;
    color:#000000;
    overflow:hidden;

    a {
        color:#000000;
        text-decoration:none;
    }
}

.v-center {
    margin-top:7%;
}

.btn-xl {
    padding: 32px 29px;
    font-size: 22px;
    border-radius: 8px;
}
