<div class="container-full" id="contact" style="background-image: url(img/DSC_2516.jpg); min-height:0%;">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <p style="color:white; font-size:30px">Any questions?</p>
            <a href="mailto:about@ovpn.io" style="color:white; font-size:30px">Send us an email <font style="font-family: Oxygen;">&#x2022;</font> about@ovpn.io</a>
        </div>
    </div> <!-- /row -->
    <br>
    <br>
    <br>

</div> <!-- /container full -->
