<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form action="register.js" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Thanks for your support!</h4>
        </div>

        <div class="modal-body">

          <div class="form-group"> <!--center!! -->
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                  <input style="font-family: Oxygen;" type="text" name="email" class="form-control" placeholder="Email" style="height:40px; font-size:20px">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                  <input style="font-family: Oxygen;" type="password" name="email" class="form-control" placeholder="Password" style="height:40px; font-size:20px">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                  <input style="font-family: Oxygen;" type="password" name="password" class="form-control" placeholder="Confirm Password" style="height:40px; font-size:20px">
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
